---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>
    <img src="/assets/lab_logo.png" alt="alt text" title="The Leiboff Lab at OSU" style="float:center" height="100%" width="100%" />
  </p>

  <p>
    Welcome to the Leiboff Lab website!
    The lab officially opens in May 2020 at Oregon State.
    <br>We use a combination of gene expression analysis, image processing, classical and quantitative gentics
    to explore the way that different grasses make their agriculturally-critical organs.
  </p>


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            <br>
            <!-- call the featured-post-image.html template file -->
            {% if post.featured-image %}
            {% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}
            {% endif %}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>
